version: '3.8'

networks:
  laravel:

services:

  nginx:
    image: nginx:stable-alpine
    container_name: webserver
    ports:
      - "8080:80"
    volumes:
      # - "./src:/usr/share/nginx/html
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php 
      - db
    networks:
      - laravel
  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    # container_name: php
    volumes:
      - ./src:/var/www/html
    ports:
      - "9000:9000"
    networks:
      - laravel
  db:
    image: mysql:latest
    restart: unless-stopped
    tty: true
    ports:
      - "4000:3306"
    environment:
      MYSQL_DATABASE: vue-stripe
      MYSQL_USER: test_user
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: 1234
      TZ: 'Asia/Tokyo'
    volumes:
      - ./mysql/database:/var/lib/mysql
    networks:
      - laravel 

  # app:
  #   build:
  #     context: .
  #     dockerfile: ./docker/php/Dockerfile
  #   volumes:
  #     - ./src/:/var/www/html
  #   environment:
  #     - DB_CONNECTION=mysql
  #     - DB_HOST=db
  #     - DB_PORT=3306
  #     - DB_DATABASE=${DB_NAME}
  #     - DB_USERNAME=${DB_USER}
  #     - DB_PASSWORD=${DB_PASSWORD}

  # web:
  #   build:
  #     context: .
  #     dockerfile: ./docker/nginx/Dockerfile
  #   ports:
  #     - ${WEB_PORT}:80
  #   depends_on:
  #     - app
  #   volumes:
  #     - ./src/:/var/www/html

  # db:
  #   build:
  #     context: .
  #     dockerfile: ./docker/mysql/Dockerfile
  #   ports:
  #     - ${DB_PORT}:3306
  #   environment:
  #     MYSQL_DATABASE: ${DB_NAME}
  #     MYSQL_USER: ${DB_USER}
  #     MYSQL_PASSWORD: ${DB_PASSWORD}
  #     MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
  #     TZ: 'Asia/Tokyo'
  #   volumes:
  #     - mysql-volume:/var/lib/mysql
